* {
    margin: 0;
    padding: 0;
   
}

#basic-url {
    background-color:aliceblue;
    padding: 15px;
    color: #000000;
    text-align: center;

}

#basic-url::placeholder {
    color: #a0a0a0;
    text-align: center;
  
}

body {
    background-color: #212529;
  
    width: 100vw;
    height: 100vh;
}

.form-container {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result {
    margin-top: 5vh;
}

.text-on-dark {
    color: #ffffcc;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a4000;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
    background: transparent
    ;
}

.footer small {
    font-size: 14px;
}

.site-name {
    color: white;
}

#logo-row {
    margin-left: 30px;
    margin-right: 30px;
}

.label {
    color: #ffcc00;
    font-weight: bold;
    font-size: 1.2rem;
}


#check {
    padding: 0.75em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: #1c1c1c;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    background-color: aliceblue;
  }
  
  #check:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
 
  }
  
  #check::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  #check:hover::before {
    width: 250%;
  }




  #reset {
    padding: 0.75em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color:#1c1c1c;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    background-color: aliceblue;
    margin-left: 15px;
  }
  
  #reset:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
 
  }
  
  #reset::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color:gray;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  #reset:hover::before {
    width: 250%;
  }







.url {
    color: #e70f0f;
    font-weight: normal;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.url:hover {
    color: #0056b3;
    text-decoration: underline;
}

.result-legitimate {
    color: rgb(28, 230, 28);
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-weight: 700;
    border-radius: 3px;
   
}

.result-phishing {
    color: red;
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-weight: 700;
    border-radius: 3px;
    transition: all 0.1s ease;
    animation: vibrate 0.5s ease infinite;
}

@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-1px, -1px); }
    50% { transform: translate(1px, 1px); }
    75% { transform: translate(-1px, 1px); }
    100% { transform: translate(1px, -1px); }
}


.result-legitimate, .result-phishing {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .result-legitimate, .result-phishing {
        font-size: 1rem;
    }
    .url {
        font-size: 1rem;
    }
    .label {
        font-size: 1rem;
    }
}

.p-result {
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}